
@{
    ViewData["Title"] = "ForgotPassword";
}
    <style>
        .bg-gradient-primary {
            background-color: #808080;
            background-image: linear-gradient(180deg,#808080 10%,#ffffff 100%);
            background-size: auto;
            
        }
        .btn-user{
            font-size:1.2rem;
            border-radius:10rem;
            padding:0.5rem 1rem;
        }
        
    </style>
    <body class="bg-gradient-primary">
        <h1>Şifrenizi mi unuttunuz?</h1>
        <p>Sadece aşağıya epostanızı girin şifrenizi yenilemek için size bir link gönderelim.</p>
        <hr />
        <div class="row">
            <div class="col-md-8">
                @if (ViewBag.ErrorMessage != null)
                {
                    <div class="text-danger">@ViewBag.ErrorMessage</div>
                }

                <form asp-controller="Account" asp-action="ForgotPassword" method="post" >



                    <div class="form-group row">
                        <label class="col-md-2 col-form-label"><i class="fas fa-envelope"></i></label>
                        <div class="col-md-10">                      
                            <input type="text" name="Email" class="form-control" placeholder="Email adresinizi yazınız" />

                        </div>
                    </div>


                    <div class="form-group row">

                        <div class="col-md-10 offset-md-2">
                            <button type="submit" class="btn btn-outline-info btn-lg my-4 wawes-effect btn-user btn-block"> Şifreyi Yenile</button>
                        </div>
                    </div>

                </form>
            </div>

        </div>

    </body>