@model LoginModel
@{
    ViewData["Title"] = "Login";
}
@section Scripts {
    <script src="\modules\jquery-validation\dist\jquery.validate.min.js"></script>
    <script src="\modules\jquery-validation-unobtrusive\dist\jquery.validate.unobtrusive.min.js"></script>
}
<style>
    .bg-gradient-primary {
        background-color: #808080;
        background-image: linear-gradient(180deg,#808080 10%,#ffffff 100%);
        background-size: auto;
    }
    .btn-user{
            font-size:1.2rem;
            border-radius:10rem;
            padding:0.5rem 1rem;
        }
</style>

<body class="bg-gradient-primary">
    <div class="row">
        <div class="col-md-8 ">
            @if (ViewBag.ErrorMessage != null)
            {
                <div class="text-danger">@ViewBag.ErrorMessage</div>
            }

            <form asp-controller="Account" asp-action="Login" method="post" class="text-center border-light p-5">
                <p class="h2 mb-4 ">Giriş Yap</p>
                <input type="hidden" name="ReturnUrl" value="@Model.ReturnUrl" />
                <div asp-validation-summary="All" class="text-danger"></div>

                <div class="form-group row ">

                    <label asp-for="Email" class="col-md-2 col-form-label">  <i class="fas fa-envelope prefix white-text active"></i> </label>
                    <div class="col-md-10">
                        <input asp-for="Email" value="@Model.Email" class="form-control mb-4" type="email" id="defaultLoginFormEmail" placeholder="E-mail" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row ">

                    <label asp-for="Password" class="col-md-2 col-form-label"> <i class="fas fa-lock prefix white-text active"></i></label>
                    <div class="col-md-10">
                        <input asp-for="Password" value="@Model.Password" class="form-control mb-4" type="password" id="defaultLoginFormPassword" placeholder="Parola" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                </div>

                <div class=" d-flex form-group row justify-content-around">

                    <div>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="defaultLoginFormRemember" />
                            <label class="custom-control-label" for="defaultLoginFormRemember">Beni hatırla</label>
                        </div>
                    </div>

                    <div>
                        <a href="/Account/ForgotPassword">Forgot password?</a>
                    </div>
                </div>
                <a href="/"></a>
                <button type="submit" class="btn btn-outline-info btn-user btn-lg my-4 wawes-effect ">Giriş Yap</button>
                <p>
                    Üye değil misin?
                    <a href="/Account/Register">Kayıt ol</a>
                </p>

            </form>


        </div>
        <div class="col-md-4">

        </div>
    </div>
</body>






