@model ProductListModel

<style>
    .bg-gradient-primary-l {
        background-color: #808080;
        background-image: linear-gradient(180deg,#808080 10%,#ffffff 100%);
        background-size: auto;
    }
</style>
<body class="bg-gradient-primary-l">

    <div class="row">
        <div class="col-md-3">
            @await Component.InvokeAsync("CategoryList")
        </div>
        <div class="col-md-9">

            <div class="row ">

                @foreach (var product in Model.Products)
                {
                    <partial name="_product" for="@product" />

                }
            </div>
            <div page-model="@Model.PageInfo"> </div>
        </div>

    </div>
    </body>


